name: Release Please
on:
  push:
    branches:
      - main
jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          command: manifest
          token: ${{secrets.GITHUB_TOKEN}}
  publish-json-viewer:
    name: 'Publish @textea/json-viewer'
    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Use Node.js LTS
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT
      - uses: actions/cache@v3
        id: yarn-release-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-release-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-release
      - name: Install Dependencies
        run: |
          yarn install
      - name: Prepack
        run: yarn run prepack
      - name: Build
        run: npm run build
      - name: Delete Scripts
        run: npm pkg delete scripts
      - name: Delete Workspaces
        run: npm pkg delete workspaces
      - uses: JS-DevTools/npm-publish@v2
        name: Publish to npm
        with:
          access: 'public'
          token: ${{ secrets.NPM_TOKEN }}
          ignore-scripts: false
